html
  body
    header
      nav.navbar.navbar-default
        .container
          .navbar-header
            button.navbar-toggle.collapsed(data-target='#header-menu', data-toggle='collapse', type='button')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand.value-brand(href="{% url 'home' %}") WeaSMS
          #header-menu.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href="{% url 'graph' %}") Graph
              li
                a(href="{% url 'about' %}") About
            |         {% if user.is_authenticated %}
            ul.nav.navbar-nav.navbar-right
              li
                a(href="{% url 'reviews' user.username %}")
                  span(data-toggle='tooltip', data-placement='bottom', data-container='body', title='My profile') {{ user.profile.get_screen_name }}
              li
                span.navbar-text.username-divider
              |             {% comment %}
              li
                a(href="{% url 'library:index' %}")
                  | Library
              |             {% endcomment %}
              li
                a(href="{% url 'signout' %}")
                  span(data-toggle='tooltip', data-placement='bottom', data-container='body', title='Sign out')
                    span.glyphicon.glyphicon-log-out
            |         {% else %}
            a.btn.btn-default.navbar-btn.navbar-right(href="{% url 'signin' %}", title='Sign in') Sign in
            a.btn.btn-primary.navbar-btn.navbar-right(href="{% url 'signup' %}", title='Sign up', style='margin-right: 5px;') Sign up
            |         {% endif %}
