html
  body
    | {% extends 'base.html' %}
    | {% block fullwidthheader %}
    .masthead
      h1 Thanks {{ user.username }} 
      |       
      p
        | I hope you enjoy this service. If you have a problem with that.
      |       
      p
        | Plz contact me at &quot;trilebks2014@gmail.com&quot;
    | {% endblock %}
